body{
    margin: 0px;
}

#canvas-container{
    position: absolute;
    
    height: 100vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#canvas-img{
    display: block;
}

#canvas[data-clamped="height"] #canvas-img{
    height: 100vh;
}

#canvas[data-clamped="width"] #canvas-img{
    width: 100vw;
}

.interest-point{
    position: absolute;
    width: 1px;
    height: 1px;
}

.interest-point .point-marker{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 100%;

    transition: 
        all 0.5s ease,
        opacity 0.1s ease;
}

.interest-point .point-marker:hover{
    width: 40px;
    height: 40px;

    cursor: pointer;
}

.interest-point-info{
    display: none;
}

.info-screen-container{
    position: absolute;
    
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 4fr 3fr;

    visibility: hidden;
}

#info-screen{
    margin: 50px;

    border: 1px solid black;
    background-color: white;
    border-radius: 15px;

    padding: 30px;
}

h1{
    margin: 0px;
}

#title-screen{
    position: absolute;

    height: 100vh;
    width: 100vw;

    background-color: rgba(255, 255, 255, 0.53);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 90px;
}