@font-face {
    font-family: Gothicon;
    src: url(assets/Gothicon_Font/webfont/gothicon.woff2);
}

body{
    margin: 0px;
    font-family: Gothicon;
}

h1{
    margin: 0px;
}

h2{
    margin: 0px;
}

p{
    margin: 0px;
    font-family: 'Cardo', 'Arial'
}

#canvas-container{
    position: absolute;
    
    height: 100vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#canvas-img{
    display: block;
}

#canvas[data-clamped="height"] #canvas-img{
    height: 105vh;
}

#canvas[data-clamped="width"] #canvas-img{
    width: 105vw;
}

.interest-point{
    position: absolute;
    width: 1px;
    height: 1px;
}

.interest-point .point-marker{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 100%;

    transition: 
        all 0.5s ease,
        opacity 0.1s ease;
}

.interest-point .point-marker:hover{
    width: 40px;
    height: 40px;

    cursor: pointer;
}

.interest-point-info{
    display: none;
}

.info-screen-container{
    position: absolute;
    
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
}

.info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
}

#info-screen:has(.flipped){
    order: -1;
}

#info-screen h1{
    margin-bottom: 5px; 
}

#info-screen h2{
    margin-bottom: 20px; 
    font-weight: normal;
}

#info-screen .text-n-img{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

#info-screen img{
    align-self: center;
    max-width: 100%;
    max-height: 70vh;
}

#info-screen{
    margin: 50px;

    border: 1px solid black;
    background-color: white;
    border-radius: 15px;

    padding: 30px;
}

#title-screen{
    position: absolute;

    height: 100vh;
    width: 100vw;

    background-color: rgba(255, 255, 255, 0.53);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 150px;
}

.description{
    font-size: 40px;
    font-weight: normal;
}

.centered{
    display: flex;
    justify-content: center;
}

.small-margin{
    margin-bottom: 10px;
}